.loader-container {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {
        height: 24px;
        width: 24px;
    }
}